/* ----- Header ----- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 120px;
}

/* Contains : Logo & 5 Buttons */
.left-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.header-logo-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-buttons button {
  color: #4c4d5f;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.header-buttons button:hover {
  color: #00b289;
}
