.faq-component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 80vh;
  margin: 70px auto;
  gap: 50px;
  align-items: center;
}

.faq {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.faq-items {
  display: flex;
  flex-direction: column;
}

.faq h1 {
  margin-left: 10px;
  margin-bottom: 40px;
  color: #003c2f;
  font-size: 42px;
}

.faq-item {
  max-width: 500px;
  border-bottom: 1px solid rgb(212, 212, 212);
  max-height: 100px;
  transition: all 0.5s ease-in-out;
}

.faq-item-active {
  transition: all 0.5s ease-in-out;
  max-height: max-content;
}

.faq-item-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  padding: 40px 0;
  cursor: pointer;
}

.faq-question {
  color: #003c2f;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.faq-answer {
  margin: 30px 0;
  color: #65816d;
  font-size: 16px;
  overflow: hidden;
  height: 0;
  transition: all 0.5s ease-in-out;
  margin-top: 0;
}

.expanded {
  height: max-content;
}

.hidden {
  transform: translateY(-50px);
}

/* ---- Mobile Styling ---- */

@media (max-width: 850px) {
  .faq-component {
    justify-content: flex-start;
    margin: 70px 10px;
    text-align: center;
  }

  .faq h1 {
    font-size: 25px;
  }

  .faq-item-button {
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .faq-item-button img {
    display: none;
  }
}
