.faq-component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 210px;
}

/* .faq-component img {
  width: 500px;
  position: absolute;
  right: 0px;
} */

.faq {
  align-self: flex-start;
}

.faq h1 {
  margin-bottom: 40px;
}

.faq-item {
  max-width: 500px;
}

.faq-item-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  min-width: 500px;
}

.faq-item-button img {
  align-self: flex-end;
}
