.feedback-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.feedback-component h1 {
  text-align: center;
}

.feedback-imgs {
  display: flex;
  gap: 70px;
  margin: 20px 0;
}

.feedback-items-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 45px;
  gap: 20px;
  max-width: 100%;
  flex-wrap: wrap;
}

.feedback-item {
  background-color: #ecf1ec;
  padding: 20px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 850px) {
  .feedback-imgs {
    flex-direction: column;
  }

  .feedback-items-gallery {
    display: none;
  }
}
