.monthly-plan-grid,
.yearly-plan-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 340px));
  gap: 30px;
  margin: 70px 20px;
  flex-wrap: wrap;

  /* animaion for first appear */
  animation-duration: 0.7s;
  animation-name: change-opacity;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes change-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.plan-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border-radius: 20px;
  position: relative;

  box-shadow: 10px 10px 50px #cfcfcf;
  max-width: 340px;
  flex-shrink: 1;
}

.price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dollar-sign {
  font-size: 25px;
}

.price-num {
  font-size: 45px;
  font-weight: bold;
}

.per-month {
  padding-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.4;
}

.start-for-free-btn {
  margin-top: 15px;
  font-size: 17px;
  padding: 15px 50px;
  margin-bottom: 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.4s;
  border: none;
  background-color: #00b289;
  color: white;
}

.start-for-free-btn:hover {
  background-color: rgb(0, 203, 156);
}

.description {
  text-align: center;
  color: #65816d;
}

.one-feature {
  display: flex;
  gap: 10px;
}
.one-feature img {
  width: 30px;
}

.best-value {
  border: 6px #ee8146 solid;
}

.best-value-title {
  position: absolute;
  top: -28px;
  background-color: #ee8146;
  color: rgb(243, 243, 243);
  padding: 5px 20px 5px 20px;
  font-size: 13px;
  margin: 0;
  border-radius: 6px;
  font-weight: 600;
}
